$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$htmlFont :'Roboto', sans-serif;
$stationBgColor: #eeeeee;
$stationTitleColor: #006699;
$stationTitleSize: 22px;
$stationTitleTopMargin: 20px;
$borderRadius: 6px;
$paddingStations: 2px;

html, body{
  font-family: $htmlFont;
}

$prct-blue:3%;
$blue: #006699;
$white: #ffffff;


@for $i from 0 through 4 {
    .inner_station p:nth-child(#{$i}) {
        background-color: mix($blue, $white, $prct-blue); border-radius: $borderRadius; padding:$paddingStations;
        @if ($i == 1) {
            font-size: $stationTitleSize; margin-top: $stationTitleTopMargin; color: $stationTitleColor;  
        }
        @if ($i == 4) {
            font-style:italic;   
        }
    }
    $prct-blue: $prct-blue + 5%;
}
 
 



#map{
    height:500px;
    width:500px;
    float: left;
/*    box-shadow: 3px 3px 10px gray;*/
    }
#station{
    padding:20px;
    width:500px;
    background-color: $stationBgColor;
    float: left;
/*    box-shadow: 3px 3px 10px gray;*/
    }
.station_departures{
    padding-bottom:10px;
    font-size: 11px;
}
.clear{
    clear:both; padding-top: 20px;
}
.station_title{
    font-size: 18px; color: $stationTitleColor;
    padding-bottom: 20px;
    }

#repeat{
     display: inline;
     }
 
#names {
     cursor: pointer;
       }
